<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ef0c63720b.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/css/inicio.css">
</head>
<body>


    <!--barra de navegacion-->
    <header>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
         <a href="#" class="enlace">
         <img src="img/siatet sin fondo 1.png" alt="logo" class="logo">
        </a>
        <ul>
            <li><a class="action" href="#">inicio</a></li>
            <li><a th:href="@{/Que somos}">Que Somos</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar
                sesión</a></li>
            <li><div id="google_translate_element"></div></li>
        </ul>
    </header>

    <!--main-->

    <main>
        <div class="carrusel-box">
            <ul>
                <li>
                    <img src="img/carrusel img 1.jpg" alt="">
                </li>
                <li>
                    <img src="img/caarrusel img 2.jpg" alt="">
                </li>
                <li>
                    <img src="img/carrusel img 3.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>

        <h2 >NUESTROS SERVICIOS</h2>

        <div class="contenido-servcios">
            <div class="proyectos-vista-previa animado">
                <img src="/img/vista previa imagen 1.jpg" alt="">
                <h3>MONTAJES ELECTRCIOS INDUSTRIALES</h3>
                <a href="#imagen1"> <button>Info</button></a>
            </div>
            <div class="proyectos-vista-previa animado">
                <img src="/img/vista pervia imagen 2.jpg" alt="">
                <h3>CABLEADO ESTRUCTURADO INDUSTRIAL</h3>
                <a href="#imagen2"> <button>Info</button></a>
            </div>
            <div class="proyectos-vista-previa animado">
                <img src="img/imagen vista previa 3.jpg" alt="">
                <h3>APLICAICON DE SISTEMAS DOMOTICOS</h3>
                <a href="#imagen3"> <button>Info</button></a>
            </div>
            <div class="proyectos-vista-previa animado2">
                <img src="/img/iamgen vista previa 4.png" alt="">
                <h3>REPARACION DE MOTORES ELECTRICOS</h3>
                <a href="#imagen4"> <button>Info</button></a>
            </div>
            <div class="proyectos-vista-previa animado2">
                <img src="/img/imagen previa 5.jpg" alt="">
                <h3>APLICAICON DE SISTEMAS AUTOSOSTENIBLES</h3>
                <a href="#imagen5"> <button>Info</button></a>
            </div>
            <div class="proyectos-vista-previa animado2">
                <img src="/img/imagen previa 6.jpg" alt="">
                <h3>PROCESOS AUTOMATIZADOS</h3>
                <a href="#imagen6"> <button>Info</button></a>
            </div>
        </div>

        <h2 class="animado3">DESCRIPCION</h2>

        <div class="descripcion-servicios">

            <div class="descripcion-servicios-izquierda animado" id="imagen1">
                <div class="margen-imagen-i">
                 <img src="/img/vista previa imagen 1.jpg" alt="">
                </div>
               <div>
                 <h3>MONTAJES ELECTRCIOS INDUSTRIALES</h3>
                 <p>Enfocados en la excelencia, brindamos servicios de montajes eléctricos industriales de vanguardia. Nuestro equipo altamente capacitado garantiza instalaciones precisas y seguras, cumpliendo con las normativas más estrictas. Diseñamos soluciones personalizadas que se adaptan a las necesidades únicas de tu industria, maximizando la eficiencia y la productividad.</p>
                </div>
            </div>

            <div class="descripcion-servicios-derecha animado2" id="imagen2">
                <div>
                    <h3>CABLEADO ESTRUCTURADO INDUSTRIAL</h3>
                    <p>En el competitivo mundo industrial, la eficiencia y la precisión son cruciales. Nuestras soluciones domóticas para industrias están diseñadas para llevar tu producción al siguiente nivel. Desde el control de maquinaria hasta la gestión de recursos, nuestros sistemas ofrecen un control total sobre tu entorno de trabajo..</p>
                </div>
                <div class="margen-imagen-d">
                    <img src="img/vista pervia imagen 2.jpg" alt="">
                </div>
            </div>

            <div class="descripcion-servicios-izquierda animado" id="imagen3">
                 <div class="margen-imagen-i">
                <img src="img/imagen vista previa 3.jpg" alt="">
                </div>
                <div>
                    <h3>APLICACION DE SISTEMAS DOMOTICOS </h3>
                    <p>En el competitivo mundo industrial, la eficiencia y la precisión son cruciales. Nuestras soluciones domóticas para industrias están diseñadas para llevar tu producción al siguiente nivel. Desde el control de maquinaria hasta la gestión de recursos, nuestros sistemas ofrecen un control total sobre tu entorno de trabajo..</p>
                </div>
            </div>

            <div class="descripcion-servicios-derecha animado2" id="imagen4">
                <div>
                    <h3>REPARACION DE MOTORES ELECTRICOS</h3>
                    <p>En el competitivo mundo industrial, la eficiencia y la precisión son cruciales. Nuestras soluciones domóticas para industrias están diseñadas para llevar tu producción al siguiente nivel. Desde el control de maquinaria hasta la gestión de recursos, nuestros sistemas ofrecen un control total sobre tu entorno de trabajo..</p>
                </div>
                <div class="margen-imagen-d">
                    <img src="img/iamgen vista previa 4.png" alt="">
                </div>
            </div>

            <div class="descripcion-servicios-izquierda animado" id="imagen5">
                <div class="margen-imagen-i">
                    <img src="img/imagen previa 5.jpg" alt="">
                </div>
                <div>
                    <h3>APLICACION DE SISTEMAS AUTOSOSTENIBLES</h3>
                    <p>En el corazón de la innovación industrial se encuentran los sistemas autosostenibles. Nuestra avanzada tecnología fusiona la eficiencia energética con la automatización domótica para llevar tu industria hacia el futuro. Desde el control de procesos hasta la gestión de recursos, nuestra solución integra de forma inteligente la sostenibilidad en cada aspecto de tu operación.</p>
                </div>
            </div>

            <div class="descripcion-servicios-derecha animado2" id="imagen6">
                <div>
                    <h3>PROCESOS AUTOMATIZADOS</h3>
                    <p>En el competitivo mundo industrial, la eficiencia y la precisión son cruciales. Nuestras soluciones domóticas para industrias están diseñadas para llevar tu producción al siguiente nivel. Desde el control de maquinaria hasta la gestión de recursos, nuestros sistemas ofrecen un control total sobre tu entorno de trabajo..</p>
                </div>
                <div class="margen-imagen-d">
                    <img src="img/imagen previa 6.jpg" alt="">
                </div>
            </div>
        </div>
    </main>
    

    <!--footer-->
    
    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="barras de navegacion.html">
                        <img src="img/siatet sin fondo 1.png" alt="logo">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>ENLACES RAPIDOS</h2>
                <p>
                    <ul class="enlaces-footer">
                        <li><a th:href="@{/Que somos}">QUE SOMOS</a></li>
                        <li><a th:href="@{/tabla}">ADMINISTRACION</a></li>
                        <li><a href="#">POLITICA DE PRIVACIDAD</a></li>
                        <li><a href="#">ACESSIBILIDAD</a></li>
                        <li><a href="#">INFORMACION</a></li>
                        <li><a href="#">POLITICA DE COOKIES</a></li>
                        <li><a href="#">AYUDA</a></li>
                    </ul>
                </p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="sociales">
                    <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>SIATET S.A.S</b> - Todos Los Derechos Reservados</small>
        </div>
    </footer>
    <script src="/js/inicio.js"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'es', 
            includedLanguages: 'en,es,fr',
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE},
             'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>